main {
  &.dark-theme {
    background-color: var(--vry-dark-blue-1);
    color: var(--c-white);

    a {
      color: var(--c-white);
    }
  }

  &.light-theme {
    background-color: var(--very-ligt-gray);
    color: var(--vry-dark-blue-2);

    a {
      color: var(--vry-dark-blue-2);
    }
  }
}

.dark-theme {
  &.header {
    background-color: var(--dark-blue);
    color: var(--c-white);

    button {
      color: var(--c-white);
      
      img {
        filter: invert(0);
      }
    }
  }

  .rest-countries {
    &__home {
      .filter-search { 
        background-color: var(--dark-blue);

        input {
          color: var(--c-white);
        }
      }

      .filter-region { 
        select {
          background-color: var(--dark-blue);
          color: var(--c-white);
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        }
      }

      .country-list__grid {
        .country-card {
          background-color: var(--dark-blue);
        }
      }
    }

    &__details {
      .details-back {
        background-color: var(--dark-blue);

        svg {
          fill: var(--c-white);
        }
      }

      .details-grid {
        .border-item {
          background-color: var(--dark-blue);
        }
      }
    }
  }

  .country-card-loader {
    background-color: var(--dark-blue);

    .loader-gradient {
      background-color: #161e26;
    }
  }
}

.light-theme {
  &.header {
    background-color: var(--c-white);
    color: var(--vry-dark-blue-2);

    button {
      color: var(--vry-dark-blue-2);

      img {
        filter: invert(1);
      }
    }
  }

  .rest-countries {
    &__home {
      .filter-search { 
        background-color: var(--c-white);

        input {
          color: var(--vry-dark-blue-2);
        }
      }

      .filter-region { 
        select {
          background-color: var(--c-white);
          color: var(--vry-dark-blue-2);
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        }
      }

      .country-list__grid {
        .country-card {
          background-color: var(--c-white);
        }
      }
    }

    &__details {
      .details-back {
        background-color: var(--c-white);

        svg {
          fill: var(--vry-dark-blue-2);
        }
      }

      .details-grid {
        .border-item {
          background-color: var(--c-white);
        }
      }
    }
  }

  .country-card-loader {
    background: var(--c-white);

    .loader-gradient {
      background: lightgray;
    }
  }
}
