:root {
  /** Dark Theme **/
  --dark-blue: #2b3945; /** (Dark Mode Elements) **/
  --vry-dark-blue-1: #202c37; /** (Dark Mode Background) **/
  
  /** Light Theme **/
  --vry-dark-blue-2: #111517; /** (Light Mode Text) **/
  --dark-gray: #858585; /** (Light Mode Input) **/
  --very-ligt-gray: #fafafa; /** (Light Mode Background) **/

  --c-white: #ffffff; /** (Dark Mode Text & Light Mode Elements) **/
}